In [10]:
import pandas as pd
import re
import numpy as np
import pickle
import scipy

In [3]:
def remove_extra(s):
    return(re.sub(r'\(.*\)|\{.*\}|\'|\"', "", s).strip())

In [4]:
#701 actors

In [5]:
def get_non_duplicated(artist_dataframe):
    artist_counts = artist_dataframe[['movies','artist']].groupby('artist',as_index=False).agg(['count'])
    artist_counts.columns = [''.join(col).strip() for col in artist_counts.columns.values]
    artist_counts2 = artist_counts.reset_index()
    print('Only',artist_counts2['artist'].count(),' unique names')
    
    artist_counts2  = artist_counts2.loc[artist_counts2['moviescount'] >1]
    duplicate_artists = list(artist_counts2['artist'].values)
    #print(len(duplicate_artists),' repeated names')
    duplicated_artist_df  = artist_dataframe.loc[artist_dataframe['artist'].isin(duplicate_artists)]
    non_duplicated_artist_df  = artist_dataframe.loc[~artist_dataframe['artist'].isin(duplicate_artists)]
    print(non_duplicated_artist_df['movies'].count(),' non repeated names')
    fixed_duplicated_artist_df = duplicated_artist_df.groupby('artist').agg({'movies':'sum'})
    fixed_duplicated_artist_df['movies'] = fixed_duplicated_artist_df['movies'].apply(lambda x: list(set(x)))
    print(fixed_duplicated_artist_df['movies'].count(),' responsible for duplicates')
    non_duplicated_artist_df.append(fixed_duplicated_artist_df)
    return non_duplicated_artist_df

In [6]:
def get_artist_data(file_name):
    artist_list = []
    artist_movies_list = []
    i = 0
    with open(file_name,'rb') as f:
        lines = f.readlines()
        for line in lines:
            i+=1
            if(i%100000==0):
                print(i)
            line= line.decode('utf-8','ignore').encode("utf-8")
            line_split = line.decode().split('\t\t')
            artist = line_split[0]
            movies = []
            if(len(line_split)>1):
                movies = set(map(remove_extra, line_split[1:]))
                movies =[m for m in movies if(len(m))>0]
            artist_list.append(artist)
            artist_movies_list.append(list(movies))     
    print(len(artist_list)," Lines found")
    artist_dataframe = pd.DataFrame(list(zip(artist_list, artist_movies_list)),columns=['artist','movies'])
    return get_non_duplicated(artist_dataframe)

In [7]:
non_duplicated_actor_df = get_artist_data('data/actor_movies.txt')

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2167653  Lines found
Only 2166817  unique names
2166116  non repeated names
701  responsible for duplicates

In [8]:
non_duplicated_actress_df = get_artist_data('data/actress_movies.txt')

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1182813  Lines found
Only 1182404  unique names
1182084  non repeated names
320  responsible for duplicates

In [9]:
non_duplicated_artist_df = get_non_duplicated(non_duplicated_actor_df.append(non_duplicated_actress_df))
non_duplicated_artist_df['count'] = non_duplicated_artist_df['movies'].apply(lambda x: len(x))
non_duplicated_artist_df.head()

Only 3348112  unique names
3348024  non repeated names
88  responsible for duplicates

          artist                                             movies  count
0        $, Claw                                                 []      0
1        $, Homo               [Suuri illusioni, Nykytaiteen museo]      2
2       $, Steve                                                 []      0
3     $hort, Too  [American Pimp, Gangsta Rap: The Glockumentary...     12
4  $lim, Bee Moe                   [Fatherhood 101, For Thy Love 2]      2

In [10]:
non_duplicated_artist_df.count()

artist    3348024
movies    3348024
count     3348024
dtype: int64

In [3]:
final_df = non_duplicated_artist_df.loc[non_duplicated_artist_df['count'] >10]

NameError: name 'non_duplicated_artist_df' is not defined

In [ ]:
pickle.dump(final_df, open('final.pickle','wb'))

In [4]:
import pickle
#final_df = pickle.load(open('final.pickle','rb'))
artists = final_df['artist'].values
num_artists = len(artists)#len(artists)

In [5]:
movies = final_df['movies'].values
import itertools
merged = list(itertools.chain(*movies))
movies = list(set(merged)) 
num_movies =len(movies)

In [6]:
artist_id_map = {}

for i in range(len(artists)):
    artist_id_map[artists[i]] = i
    movie_id_map = {}
for i in range(len(movies)):
    movie_id_map[movies[i]] = i

In [7]:
row_cnt = 0

In [8]:
artist_movie_mat = []
def fill_matrix(row):
    global row_cnt
    row_cnt +=1
    if(row_cnt%10000==0):
        print(row_cnt)
    row = dict(row)
    movies = row['movies']
    artist = row['artist']
    movie_ids = [movie_id_map[movie] for movie in movies]
    artist_row = np.zeros(num_movies)
    artist_row[movie_ids] = 1
    artist_movie_mat.append(artist_row)
   # artist_movie_mat[artist_id_map[artist],:] = artist_row

In [11]:
x= final_df.apply(lambda x:fill_matrix(x),axis=1)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000

In [13]:
from scipy.sparse import *

In [14]:
csc_matrix(artist_movie_mat[:100])

<100x393642 sparse matrix of type '<class 'numpy.float64'>'
	with 2486 stored elements in Compressed Sparse Column format>

In [ ]:
edge_tuple=[]
for i in range(num_artists):
    print("Evaluating node ",i)
    i_movies = list(final_df['movies'].loc[final_df['artist'] == artists[i]])[0]
    den = len(i_movies)
    for j in range(num_artists):
        if i ==j:
            continue
        j_movies = final_df['movies'].loc[final_df['artist'] == artists[j]]
        j_movies = list(j_movies)[0]
        #print(j_movies)
        weight = len(set(i_movies)&set(j_movies))*1.0/den
        if(weight>0):
            edge_tuple.append((i,j,weight))

In [ ]:
edge_tuple